{% extends "gcc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Past Editions' %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'gcc/css/editions.css' %}" />
{% endblock %}

{% block content %}
<div id="edition-history" class="container">
    {% for edition in editions %}
    <div class="row">
        <div class="col-sm-2 edition-header">
            <h1>{{ edition.year }}</h1>
            <a href="{{ edition.poster_url }}">
                <img src="{{ edition.poster_url }}" alt="affiche GCC {{ edition.year }}"/>
            </a>
        </div>
        <div class="col-sm-10 edition-description">
            <p>
            {{ edition.poster_url }} test!<br />
            {{ edition.image_count }} test2! <br />
            {% blocktrans with description=edition.long_description|safe %}
              {{ description }}
            {% endblocktrans %}
            </p>
            <button class="btn btn-lg btn-default btn-block" type="button" data-toggle="collapse" data-target="#photo{{ edition.year }}" aria-expanded="false" aria-controls="photo{{ edition.year }}">
                {{ edition.get_all_images|length }} photo
            </button>
            <div class="collapse" id="photo{{ edition.year }}">
                <div class="photos-view">
                  {% for image in edition.get_all_images %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#photo-modal{{ edition.year }}-{{ image|slice:"-6:-4" }}'>
                    <img src="{{ image }}"/>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id='photo-modal{{ edition.year }}-{{ image|slice:"-6:-4" }}' tabindex="-1" role="dialog" aria-labelledby="photo-modal-label" aria-hidden="true" data-show="false" data-focus="false">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ image }}" />
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}