{% load i18n %}
{% load bootstrap %}

<p>
  {% blocktrans %}
    Subscribe to the newsletter to get updated with the latest news.
  {% endblocktrans %}
</p>
<form action="" method="POST" class="form-horizontal">
  {% csrf_token %}
  {{ form|bootstrap_horizontal:'col-sm-3' }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary" type="submit">
        <i class="far fa-newspaper"></i> {% trans "Subscribe" %}
      </button>
    </div>
  </div>
</form>
